%h2=t("statistics.object.type.#{statistic.type_key}")
%table.table.tablesorter.tablesorter-bootstrap
  %thead
    %tr
      - statistic.headers.each do |header|
        %th.header.tablesorter-header=header
  %tbody
    - statistic.statistic_data.each do |statistic_row|
      %tr
        - statistic_row.each do |statistic_cell|
          %td= statistic_cell
