- if user_signed_in?
  %li.dropdown
    %a.dropdown-toggle{href: '#', 'data-toggle' => "dropdown"}
      Logout/ Edit profile
    %ul.dropdown-menu
      %li= link_to('Edit account', edit_user_registration_path)
      %li= link_to('Logout', destroy_user_session_path, :method=>'delete')

- else
  %li= link_to(t('menubar.login'), new_user_session_path)

